#header {
  height: 100vh;
  background-image: url(../public/31.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
}

h1,h2 {
  font-family: serif;
}

#about h1 {
  text-shadow: 5px;
}

#skills ul {
  width: 80%;
  margin: auto !important;
}

#skills ul li {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

#bar {
  align-items: center;
  height: 32px;
  margin-bottom: 1rem;
}

#bar>div:first-child{
  text-align: center;
  padding: 5px 0;
  height: 100%;
  background-color: rgb(56, 54, 54);
}

#bar .progress {
  height: 100%;
  border-radius: 0;
}

#bar .progress-bar {
  background-color: grey !important;
}
